<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body>
    <h1>Add a new item to @Model.Name</h1>

    <form action="/categories/@Model.Id/items" method="post">
      <input id="categoryId" name="categoryId" type="hidden" value="@Model.Id">
      <label for="itemDescription">Item Description</label>
      <input id="itemDescription" name="itemDescription" type="text">
      <button type='submit'>Add Item</button>
    </form>
  </body>
</html>
