<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
  </head>
  <body>
    @using ToDoList.Models;

    <h1>Categories</h1>
    <ol>
      @if(@Model.Count == 0)
      {
        <p>There are currently no categories.</p>
      }
      @foreach (Category instance in Model)
      {
        // dynamic link based on Id of Category
        <li><a href="/categories/@instance.Id">@instance.Name</a></li>
      }
    </ol>
    <p><a href="/categories/new">Add a new category.</a></p>
    <p><a href="/">Back</a></p>
</body>
</html>